<h1>display quotes here:</h1>
<ul id = "quotes">
  <!-- <% @quotes.each do |quote|%>
  <li>
    <p><%=quote.content%></p>
  </li>
  <li>
    <p>by <em><%=quote.writer%></em></p>
  </li>
  <li>
    <time>Submitted: <%=quote.created_at.strftime('%b%e, %l:%M %p')%></time>
  </li> -->
</ul>
  <% end %>

  <%= form_for @quote do |f|%>
    <%= f.text_area :content, placeholder: "Enlighten with beautiful quotes", id: "content" %>
    <%= f.text_field :writer, placeholder: "Original quoter?", id: "writer"%>
    <%= f.submit "submit quote", id: "btn-submit"%>
  <% end %>

</script>
